.dialogues {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialoguesList {

}

.dialogue {
  margin-bottom: 20px;
}

.dialogue a {
  text-decoration: none;
  color: brown;
  font-size: 18px;
}
.messages {

}

.message {
  margin-bottom: 20px;
}